*{
    /* border: .1rem solid lime; */
}

/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


/* COLOR */

.my_bg-color-dark{
    background-color: #2D3E50; 
}

.my_bg-color-green{
   background-color:#18BC9C;
    color: white;
}

.my_bg-color-gray{
    background-color: #3A546D;
}

.my_color-green{
    color: #1ABC9C;
}

.my_color_header,
.my_color_footer{
    color: white;
}

/* HEADER */

.my_img-avatar{
    max-width: 18rem
}

header img{
    width: 100%
}

header section.my_bg-color-dark {
    text-transform: uppercase;
}

/* MAIN */

main .cards img{
    width: 100%;
}

.my_button{
    color: white;
}

/* FOOTER */
footer i{
    width: 2rem;
    height: 2rem;
}


@media screen and (min-width:576px) {
    .my_container{
        max-width: 576px;
        margin: 0 auto;
    } 
}

@media screen and (min-width:768px) {
    .my_container{
        max-width: 768px;
        margin: 0 auto;
    } 

}

@media screen and (min-width:992px) {
    .my_container{
        max-width: 1000px;
        margin: 0 auto;
    } 
}