*{
    /* border: .1rem solid lime; */
}

/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


/* COLOR */

.my_bg-color-dark{
    background-color: #2D3E50; 
}

.my_bg-color-green{
   background-color:#18BC9C;
    color: white;
}

.my_bg-color-gray{
    background-color: #3A546D;
}


/* HEADER */
.my_color_header{
    color: white;
}

header section.my_bg-color-dark {
    text-transform: uppercase;
}

main .cards img{
    width: 100%;
}

.my_button{
    color: white;
}



@media screen and (min-width:
) {
    
}